body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#maze-image img {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#prompt p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#choices button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#choices button:hover {
    background-color: #45a049;
}

#message {
    font-size: 1.2em;
    color: red;
    margin-top: 20px;
}

/*Larger than Ipad Screen*/
@media screen and (max-width: 991px) {
    .container {
      width: 100%;
      padding: 1rem;
    }


#maze-image img {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#message {
    font-size: 1.2em;
    color: red;
    margin-top: 20px;
}
}



/*Ipad Screen*/
@media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 1rem;
    }


#maze-image img {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#message {
    font-size: 1.2em;
    color: red;
    margin-top: 20px;
}
}


/*Mobile Screen*/
@media screen and (max-width: 480px) {
    .container {
      width: 100%;
      padding: 1rem;
    }


#maze-image img {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 130px;
    width: 130px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#message {
    font-size: 1.2em;
    color: red;
    margin-top: 20px;
}
}